.window{
    height: 100%;
    background-color: rgb(13, 13, 13);
    border-radius: 0.75rem;
    overflow: hidden;
    color: rgb(122, 122, 122);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(245, 245, 245, 0.342);
        gap: 1.5rem;

        .dots{
            display: flex;
            gap: 0.25rem;
            cursor: pointer;

            .dot{
            height: 15px;
            width: 15px;
            background-color: white;
            border-radius: 50%;
        }

        .red{
            background-color: rgb(220, 52, 52);
        }

        .red:hover,
        .green:hover,
        .yellow:hover {
            background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
        }

         .red:hover {
    background-image: url("/doc-icons/close.svg");
  }

        .yellow{
            background-color: rgb(215, 215, 40);
        }

        .yellow:hover {
    background-image: url("/doc-icons/minimize.svg");
  }
        .green{
            background-color: rgb(33, 183, 33);
        }

        .green:hover {
    background-image: url("/doc-icons/restore.svg");
  }
        }
    }

    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgba(168,168,168,0.4);
        border-radius: 4px;
    }
}