nav {
  width: 100%;
  color: white;
  padding: 0.8rem 0.95rem;
  background-color: rgba(131, 131, 131, 0.082);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont;

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav-item {
    cursor: pointer;
  }

  .nav-btn {
    padding: 6px;
    border-radius: 20px;
    transition: background 0.2s ease;

    &:hover {
      cursor: pointer;
      background-color: rgba(80, 80, 80, 0.389);
    }

    img {
      display: block;
    }
  }

  .icon-batt img { height: 20px; }
  .nav-icon img { height: 16px; }
  .icon-blue img { height: 15px; }
  .nav-fullscreen img { height: 16px; }
  .nav-wallpaper img { height: 16px; }
}

.wallpaper-panel {
  position: absolute;
  top: 3.4rem;
  right: 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  background: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(12px);
  padding: 12px;
  border-radius: 14px;
  z-index: 999;

  img {
    width: 90px;
    height: 55px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.25s ease;

    &:hover {
      transform: scale(1.08);
    }
  }
}
